<!doctype html>
<html class="no-js" lang="zxx">


<!-- Mirrored from tfhtml.themepul.com/artvista/demo/home-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 03 Jan 2025 09:37:48 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>FineArt - Institute of Art</title>
    <meta name="description" content="Artvista - Museum & Art Gallery HTML Template">
    <meta name="keywords" content="Artvista - Museum & Art Gallery HTML Template">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.html">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
      Google Fonts
    ============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">


    <!--==============================
        All CSS File
    ============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/css/magnific-popup.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="~/css/slick.min.css">
    <!-- Odometer -->
    <link rel="stylesheet" href="~/css/odometer.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/wish.css">
    <link rel="stylesheet" href="~/css/signup.css">
    <link rel="stylesheet" href="~/css/MyArt.css">
    <link rel="stylesheet" href="~/css/Order.css">
   

</head>

<body>
    
    
            @RenderBody()
    @RenderSection("Scripts", false)
    
   

    <!--==============================
    All Js File
    ============================== -->
    <!-- Jquery -->
    <script src="~/js/vendor/jquery-3.7.1.min.js"></script>
    <!-- Load jQuery first -->
    @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@

    <!-- jQuery Validation -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>

    <!-- jQuery Validation Unobtrusive -->
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <!-- Slick Slider -->
    <script src="~/js/slick.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <!-- Counter Up -->
    <script src="~/js/jquery.counterup.min.js"></script>
    <!-- Range Slider -->
    <script src="~/js/jquery-ui.min.js"></script>
    <!-- Marquee JS-->
    <script src="~/js/jquery.marquee.min.js"></script>

    <!-- Isotope Filter -->
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>

    <!-- ScrollTrigger -->
    <script src="~/js/ScrollTrigger.min.js"></script>
    <!-- ScrollSmoother -->
    <script src="~/js/ScrollSmoother.min.js"></script>
    <!-- ScrollToPlugin -->
    <script src="~/js/ScrollToPlugin.min.js"></script>
    <!-- SplitText -->
    <script src="~/js/SplitText.min.js"></script>
    <!-- Gsap -->
    <script src="~/js/gsap.min.js"></script>

    <!-- WOW JS -->
    <script src="~/js/waypoints.js"></script>
    <script src="~/js/wow.js"></script>

    <!-- Main Js File -->
    <script src="~/js/main.js"></script>
    <script src="~/asset/js/script.js"></script>
</body>
</html>
