<footer class="footer-wrapper footer-layout2 space-top overflow-hidden">
    <div class="container">
        <div class="footer-top text-center">
            <p class="subtitle">Through Museum Tours and Talks</p>
            <h2 class="title text-white">GET IN TOUCH</h2>
            <a class="btn" href="contact.html">Let’s Talk!</a>
        </div>
        <div class="widget-area">
            <div class="row justify-content-xl-between">
                <div class="col-md-6 col-xl-3 col-lg-4">
                    <div class="widget footer-widget">
                        <div class="widget-about">
                            <div class="footer-logo">
                                <img src="~/img/logo-white.svg" alt="logo">
                            </div>
                            <p class="footer-text">Welcome to Artvista, where history comes to life and art speaks volumes.</p>
                            <div class="payment-card-wrap">
                                <a href="#"><img src="~/img/icon/payment-card1.png" alt="img"></a>
                                <a href="#"><img src="~/img/icon/payment-card2.png" alt="img"></a>
                                <a href="#"><img src="~/img/icon/payment-card3.png" alt="img"></a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto col-lg-4">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Quick Links</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a asp-controller="Home" asp-action="EventDetails">Exhibitions</a></li>
                                <li><a asp-controller="Home" asp-action="Event">Events</a></li>
                                <li><a asp-controller="Home" asp-action="About">About</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto col-lg-4">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Visitor Info  </h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a asp-controller="Home" asp-action="Contact">How To find Us</a></li>
                                <li><a asp-controller="Home" asp-action="Contact">Get Ticket</a></li>
                                <li><a asp-controller="Home" asp-action="Event">Join Events</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto col-lg-4">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Social Info  </h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="https://www.facebook.com/">Facebook</a></li>
                                <li><a href="https://www.twitter.com/">Twitter</a></li>
                                <li><a href="https://www.linkedin.com/">Linkedin</a></li>
                                <li><a href="https://www.instagram.com/">Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto col-lg-4">
                    <div class="widget footer-widget">
                        <div class="widget-contact">
                            <h3 class="widget_title">Contact Info</h3>
                            <ul class="contact-info-list">
                                <li>Open daily,10Am . 10Pm</li>
                                <li class="text-light">Monday Closed</li>
                                <li>Rome,125 Ny 21 Kses </li>
                                <li>artvista@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="copyright-wrap text-center">
        <div class="container">
            <div class="row gy-3 justify-content-lg-between justify-content-center">
                <div class="col-lg-auto align-self-center">
                    <p class="copyright-text text-white">© 2024 FineArt All Rights Reserved.</p>
                </div>
               
            </div>
        </div>
    </div>
</footer>