@Html.Partial("NavMenu")
<div id="smooth-wrapper">
    <div id="smooth-content">
        <!--==============================
        Breadcumb
        ============================== -->
        <div class="breadcumb-wrapper text-center" data-bg-src="~/img/bg/breadcrumb-bg.png">
            <!-- bg animated image/ -->
            <div class="container">
                <div class="breadcumb-content">
                    <h1 class="breadcumb-title">Event Details</h1>
                </div>
               
            </div>
        </div>

        <!--==============================
        Event Details Area
        ==============================-->
        <div class="event-details-area space">
            <div class="container">
                <div class="event-details-title-wrap">
                    <div class="title-area">
                        <h3 class="subtitle">Date: 20 March 2024 - 20h</h3>
                        <h2 class="sec-title">Contemporary Exhibitions Monthly </h2>
                    </div>
                </div>
                <div class="event-details-thumb">
                    <img class="w-100" src="~/img/event/event-details1-1.png" alt="img">
                    <span class="tag">Sculptor</span>
                </div>
                <div class="row gx-60">
                    <div class="col-xl-4 sidebar-widget-area mt-50">
                        <aside class="sidebar-sticky-area sidebar-area">
                            <div class="widget widget-project-details">
                                <h3 class="widget_title">Opening Hours & Location:</h3>
                                <p class="d-flex flex-wrap mb-1">Gwen Vega, Miles Tran, Monique Buckley</p>
                                <p class="d-flex flex-wrap mb-1">Open daily           <span>10Am-12Pm</span></p>
                                <p class="d-flex flex-wrap mb-1">Closed daily         <span>Monday</span></p>
                                <h4 class="fw-medium mt-25">Curators</h4>
                                <p>Alex Rhodes, Cara Mills, Alanna Mercado Joanna Pugh</p>
                                <h4 class="fw-medium mt-25">Exhibition Design</h4>
                                <p>Gwen Vega, Miles Tran, Monique Buckley</p>
                                <h4 class="fw-medium mt-25">Partner</h4>
                                <p>Limp Fishing Rod, Hotel Thunder Feet, Fourdust Chewyknot</p>
                                <div class="btn-wrap mt-30">
                                    <a href="contact.html" class="btn">
                                        BOOK NOW TICKET
                                    </a>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="col-xl-8">
                        <div class="portfolio-details-wrap mt-40">
                            <h2 class="fw-semibold mb-20">Events Details</h2>
                            <p>At our museum, education is at the heart of everything we do, and conservation is no exception. Join us for hands-on workshops, interactive demonstrations, and behind-the-scenes tours that offer visitors of all ages a chance to learn about the importance of preserving cultural heritage. From budding young scientists to seasoned enthusiasts, we believe that by inspiring a love for conservation, we can empower future generations to become stewards of our shared heritage.</p>
                            <p class="mb-30">At our museum, education is at the heart of everything we do, and conservation is no exception. Join us for hands-on workshops, interactive demonstrations, and behind-the-scenes tours that offer visitors of all ages a chance to learn about the importance of preserving cultural heritage. From budding young scientists to seasoned enthus</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="event-details-thumb">
                                        <img class="w-100" src="~/img/event/event-details1-2.png" alt="img">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="event-details-thumb">
                                        <img class="w-100" src="~/img/event/event-details1-3.png" alt="img">
                                    </div>
                                </div>
                            </div>
                            <p class="mb-30 mt-30">At our museum, education is at the heart of everything we do, and conservation is no exception. Join us for hands-on workshops, interactive demonstrations, and behind-the-scenes tours that offer visitors of all ages a chance to learn about the importance of preserving cultural heritage. From budding young scientists to seasoned enthusiasts,</p>
                            <h3 class="fw-semibold mt-40 mb-20">Our Event Mission</h3>
                            <p class="mb-30">At our museum, education is at the heart of everything we do, and conservation is no exception. Join us for hands-on workshops, interactive demonstrations, and behind-the-scenes tours that offer visitors of all ages a chance to learn about the importance of preserving cultural heritage. From budding young scientists to seasoned enthusiasts,</p>
                            <p class="mb-n2">At our museum, education is at the heart of everything we do, and conservation is no exception. Join us for hands-on workshops, interactive demonstrations, and behind-the-scenes tours that offer visitors of all ages a chance to learn about the importance of preserving cultural heritage. From budding young scientists to seasoned enthusiasts,</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--==============================
            Footer Area
        ==============================-->
       @Html.Partial("Footer");
    </div>
</div>

<!--********************************
        Code End  Here
******************************** -->
<!-- Scroll To Top -->
<div class="scroll-top">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
    </svg>
</div>