@model IEnumerable<Institute_FineArt1.Models.Painting>
@Html.Partial("NavMenu")
    <div id="smooth-wrapper">
        <div id="smooth-content">
            <!--==============================
            Hero Area
            ==============================-->
            <div class="hero-wrapper hero-3" id="hero-sec">
                <div class="global-carousel hero-slider1" id="heroSlider1" data-fade="true" data-slide-show="1" data-lg-slide-show="1" data-md-slide-show="1" data-sm-slide-show="1" data-xs-slide-show="1" data-arrows="false" data-asnavfor=".hero-custom-dots">
                    <div class="hero-slider">
                        <div class="container">
                            <div class="hero-style3">
                                <h4 class="hero-subtitle" data-ani="slider-custom-anim-left" data-ani-delay="0.1s">Vist To Our Museum</h4>
                                <h1 class="hero-title" data-ani="slider-custom-anim-left" data-ani-delay="0.15s">Event Hosting</h1>
                                <h1 class="hero-title style2" data-ani="slider-custom-anim-left" data-ani-delay="0.2s">And Venue</h1>
                                <div class="hero-thumb3-1">
                                    <img src="~/img/hero/hero_3_1.png" alt="img">
                                    <a class="btn gsap-magnetic" asp-action="About">Ticket</a>
                                    <div class="event-vanue-details">
                                        <span>10 June.2024. kapan</span>
                                        <span>09.00 Pm - 11.00Am</span>
                                        <span>New Yourk,NY 012</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero-slider">
                        <div class="container">
                            <div class="hero-style3">
                                <h4 class="hero-subtitle" data-ani="slider-custom-anim-left" data-ani-delay="0.1s">Vist To Our Museum</h4>
                                <h1 class="hero-title" data-ani="slider-custom-anim-left" data-ani-delay="0.15s">Event Hosting</h1>
                                <h1 class="hero-title style2" data-ani="slider-custom-anim-left" data-ani-delay="0.2s">And Venue</h1>
                                <div class="hero-thumb3-1">
                                    <img src="~/img/hero/hero_3_2.png" alt="img">
                                    <a class="btn gsap-magnetic" asp-action="About">Ticket</a>
                                    <div class="event-vanue-details">
                                        <span>10 June.2024. kapan</span>
                                        <span>09.00 Pm - 11.00Am</span>
                                        <span>New Yourk,NY 012</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero-slider">
                        <div class="container">
                            <div class="hero-style3">
                                <h4 class="hero-subtitle" data-ani="slider-custom-anim-left" data-ani-delay="0.1s">Vist To Our Museum</h4>
                                <h1 class="hero-title" data-ani="slider-custom-anim-left" data-ani-delay="0.15s">Event Hosting</h1>
                                <h1 class="hero-title style2" data-ani="slider-custom-anim-left" data-ani-delay="0.2s">And Venue</h1>
                                <div class="hero-thumb3-1">
                                    <img src="~/img/hero/hero_3_1.png" alt="img">
                                    <a class="btn gsap-magnetic" asp-action="About">Ticket</a>
                                    <div class="event-vanue-details">
                                        <span>10 June.2024. kapan</span>
                                        <span>09.00 Pm - 11.00Am</span>
                                        <span>New Yourk,NY 012</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero-slider">
                        <div class="container">
                            <div class="hero-style3">
                                <h4 class="hero-subtitle" data-ani="slider-custom-anim-left" data-ani-delay="0.1s">Vist To Our Museum</h4>
                                <h1 class="hero-title" data-ani="slider-custom-anim-left" data-ani-delay="0.15s">Event Hosting</h1>
                                <h1 class="hero-title style2" data-ani="slider-custom-anim-left" data-ani-delay="0.2s">And Venue</h1>
                                <div class="hero-thumb3-1">
                                    <img src="~/img/hero/hero_3_2.png" alt="img">
                                    <a class="btn gsap-magnetic" asp-action="About">Ticket</a>
                                    <div class="event-vanue-details">
                                        <span>10 June.2024. kapan</span>
                                        <span>09.00 Pm - 11.00Am</span>
                                        <span>New Yourk,NY 012</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="hero-slider1-controller-wrap">
                        <div class="slides-numbers">
                            <span class="active">01</span> <span class="total"></span>
                        </div>
                        <div class="icon-box">
                            <button data-slick-prev=".hero-slider1" class="icon-btn">
                                <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.74198 0L0 7L6.74198 14L7.87513 12.8234L3.06758 7.83189L24 7.83189V6.168L3.06773 6.168L7.87513 1.17658L6.74198 0Z" fill="inherit" />
                                </svg>
                            </button>
                            <button data-slick-next=".hero-slider1" class="icon-btn">
                                <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.258 14L24 7L17.258 0L16.1249 1.17658L20.9324 6.16811L2.45808e-07 6.16811V7.832L20.9323 7.832L16.1249 12.8234L17.258 14Z" fill="inherit" />
                                </svg>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <!--======== / Hero Section ========-->
            <!--==============================
            About Area
            ==============================-->
            <div class="about-area-2 overflow-hidden bg-title position-relative">
                <div class="img-box2 wow custom-anim-left" data-wow-duration="1.5s" data-wow-delay="0.1s">
                    <div class="video-wrap">
                        <img src="~/img/normal/about_2-1.png" alt="img">
                        <a href="https://www.youtube.com/watch?v=PwYewBMlkJw" class="play-btn popup-video">
                            <img src="~/img/icon/play-btn.svg" alt="img">
                        </a>
                    </div>
                </div>
                <div class="container">
                    <div class="row gy-50 gx-100 justify-content-lg-end">
                        <div class="col-xl-5 col-lg-6">
                            <div class="about-wrap2 space text-lg-start text-center">
                                <div class="title-area mb-0 wow custom-anim-left" data-wow-duration="1.5s" data-wow-delay="0.1s">
                                    <span class="sub-title text-white">ABOUT US</span>
                                    <h2 class="sec-title text-white mb-0">
                                        Sunday <br>
                                        June 16, 2024
                                    </h2>
                                    <p class="sec-text mt-20 text-light">Discover the ancient civilizations that laid the foundation for our modern world, marvel at the evolution of art through the centuries, and immerse yourself in the stories of remarkable individuals who have shaped the course of history.</p>
                                    <a href="contact.html" class="btn style2">
                                        MAKE RESERVATION
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--==============================
                Portfolio Area 3
            ==============================-->
            <div class="portfolio-area-3 space overflow-hidden">
                <div class="container-fluid p-0">
                <div class="title-area text-center wow custom-anim-top" data-wow-duration="1.5s" data-wow-delay="0.1s">
                    <h2 class="sec-title">Our Top Arts</h2>
                </div>
                    <div class="slider__marquee clearfix marquee-wrap">
                        <div class="marquee_mode marquee__group">
                            @{
                                        var bestarts = ViewBag.bestart as List<BestArts>;
                                    }
                                    @if (bestarts != null && bestarts.Any())
                                    {
                        @foreach (var a in bestarts)
                        {
                           
                            <div class="item m-item">
                                <div class="portfolio-card-3" style="flex: 0 0 calc(20% -10deg); margin:1px 0px;">
                                    <div class="portfolio-thumb">
                                        <a class="popup-image" href="~/StudentPainting/@a.Painting.ArtImage">
                                                <img src="~/StudentPainting/@a.Painting.ArtImage" alt="portfolio" style="width: 400px; height: 300px; object-fit: cover;">
                                        </a>
                                    </div>
                                    <div class="portfolio-details">
                                        <a href="#" class="btn btn-border2 btn-radius">
                                                Artist Name: @a.Painting.User1.Name
                                        </a>
                                            <h3 class="portfilio-card-title text-stroke"><a href="#">  @a.Painting.ArtTitle </a></h3>

                                    </div>
                                </div>
                            </div>
                        }
                          
                                    }
                </div>
            </div>

            <!--==============================
            Instagram Area 1
            ==============================-->
        <div class="instagram-area-1 overflow-hidden">
            <div class="container">
                <div class="title-area text-center wow custom-anim-top" data-wow-duration="1.5s" data-wow-delay="0.1s">
                    <h2 class="sec-title">Paintings Uploaded by Students</h2>
                </div>
            </div>
            <div class="container-fluid p-0">
                <div class="item m-item">
                    <div class="slider__marquee clearfix marquee-wrap">
                        <div class="marquee_mode marquee__group instagram__group d-flex flex-wrap justify-content-center" style="gap: 0;">
                            @foreach (var item in Model)
                            {
                                <div class="instagram-card" style="flex: 0 0 calc(20% -10deg); margin:1px 0px;">
                                    <div class="instagram-card-img mx-0 px-0">
                                        <img src="~/StudentPainting/@item.ArtImage" alt="Student Painting" style="width: 400px; height: 300px; object-fit: cover;">
                                        <p class="popup-content btn-dark text-center">
                                            Artist:@item.User1.Name
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>


            <!--==============================
                Footer Area
            ==============================-->
            @Html.Partial("Footer");

        </div>
    </div>

    <!--********************************
            Code End  Here
    ******************************** -->
    <!-- Scroll To Top -->
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>

  
