@Html.Partial("NavMenu")
<div id="smooth-wrapper">
    <div id="smooth-content">
        <!--==============================
        Breadcumb
        ============================== -->
        <div class="breadcumb-wrapper text-center" data-bg-src="~/img/bg/breadcrumb-bg.png">
            <!-- bg animated image/ -->
            <div class="container">
                <div class="breadcumb-content">
                    <h1 class="breadcumb-title">Artist Details</h1>
                </div>
                <ul class="breadcumb-menu">
                    <li><a href="index-2.html">MAIN HOME</a></li>
                    <li class="active">ARTIST DETAILS</li>
                </ul>
            </div>
        </div>

        <!--==============================
        Team Area
        ==============================-->
        <div class="team-details-area space">
            <div class="container">
                <div class="single-team-details">
                    <div class="team-about-card" data-bg-src="~/img/bg/team-details-bg.html">
                        <div class="row g-lg-0">
                            <div class="col-xl-5">
                                <div class="team-about-card_img">
                                    <img class="w-100" src="~/img/team/team-details.png" alt="team image">
                                </div>
                            </div>
                            <div class="col-xl-7 align-self-center">
                                <div class="team-about-card_box">
                                    <h2 class="team-about-card_title">Milano Digits</h2>
                                    <h6 class="team-about-card_desig">Artis Of Sculptor</h6>
                                    <p class="team-about-card_text">Gravida congue convallis nibh egestas sollicitudin sem, ante sed bibendum element proin morbi, eros purus auctor sociis placerat.</p>
                                    <div class="social-btn">
                                        <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                        <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="https://www.discord.com/"><i class="fab fa-discord"></i></a>
                                    </div>
                                    <div class="row gy-30">
                                        <div class="col-md-6">
                                            <div class="team-about-card_info">
                                                <span class="icon"><i class="fas fa-user"></i></span>
                                                <p><span>Experience </span> More Than 10 Years</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="team-about-card_info">
                                                <span class="icon"><i class="fas fa-phone-alt"></i></span>
                                                <p><span>Phone </span> +(256) 21458-21456</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="team-about-card_info">
                                                <span class="icon"><i class="fas fa-envelope"></i></span>
                                                <p><span>Email </span> info@artvista.com</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="team-about-card_info">
                                                <span class="icon"><i class="fas fa-fax"></i></span>
                                                <p><span>Fax </span> +2568145632</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="page-subtitle">About Milano Digits</h3>
                    <p class="fw-light">Milano is a certified network engineer with over 10 years of experience in designing and deploying network solutions. She specializes in configuring and optimizing network devices and protocols to ensure maximum performance and security. Jane has extensive experience working with Cisco and Juniper network devices and is always up-to-date with the latest networking technologies.</p>
                    <p class="mb-n1 fw-light">our team has the skills and expertise to provide comprehensive and effective IT solutions for small businesses. We are committed to delivering high-quality services and building long-term partnerships with our clients.</p>
                </div>
            </div>
        </div>

        <!--==============================
            Footer Area
        ==============================-->
        @Html.Partial("Footer");


    </div>
</div>
<!--********************************
           Code End  Here
   ******************************** -->
<!-- Scroll To Top -->
<div class="scroll-top">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
    </svg>
</div>
