@Html.Partial("NavMenu")
<div id="smooth-wrapper">
    <div id="smooth-content">
        <!--==============================
        Breadcumb
        ============================== -->
        <div class="breadcumb-wrapper text-center" data-bg-src="~/img/bg/breadcrumb-bg.png">
            <!-- bg animated image/ -->
            <div class="container">
                <div class="breadcumb-content">
                    <h1 class="breadcumb-title">Our Artist</h1>
                </div>
                <ul class="breadcumb-menu">
                    <li><a href="index-2.html">MAIN HOME</a></li>
                    <li class="active">OUR ARTIST</li>
                </ul>
            </div>
        </div>

        <!--==============================
        Team Area
        ==============================-->
        <div class="team-area-1 space overflow-hidden bg-smoke">
            <div class="container">
                <div class="row gy-40 justify-content-lg-between justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="team-card wow custom-anim-top" data-wow-duration="1.5s" data-wow-delay="0.1s">
                            <div class="team-card_img">
                                <img src="~/img/team/team-1-4.png" alt="Team Image">
                                <div class="team-social">
                                    <div class="social-btn">
                                        <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                        <a href="https://behance.com/"><i class="fab fa-behance"></i></a>
                                        <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-card_content">
                                <h3 class="team-card_title"><a href="team-details.html">Louisa Abadie</a></h3>
                                <span class="team-card_desig">Artis Of Sculptor</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team-card wow custom-anim-top" data-wow-duration="1.5s" data-wow-delay="0.1s">
                            <div class="team-card_img">
                                <img src="~/img/team/team-1-5.png" alt="Team Image">
                                <div class="team-social">
                                    <div class="social-btn">
                                        <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                        <a href="https://behance.com/"><i class="fab fa-behance"></i></a>
                                        <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-card_content">
                                <h3 class="team-card_title"><a href="team-details.html">Mike Johnson</a></h3>
                                <span class="team-card_desig">Artis Of Sculptor</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team-card wow custom-anim-top" data-wow-duration="1.5s" data-wow-delay="0.1s">
                            <div class="team-card_img">
                                <img src="~/img/team/team-1-6.png" alt="Team Image">
                                <div class="team-social">
                                    <div class="social-btn">
                                        <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                        <a href="https://behance.com/"><i class="fab fa-behance"></i></a>
                                        <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-card_content">
                                <h3 class="team-card_title"><a href="team-details.html">John Mosley</a></h3>
                                <span class="team-card_desig">Artis Of Sculptor</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team-card wow custom-anim-top" data-wow-duration="1.5s" data-wow-delay="0.1s">
                            <div class="team-card_img">
                                <img src="~/img/team/team-1-1.png" alt="Team Image">
                                <div class="team-social">
                                    <div class="social-btn">
                                        <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                        <a href="https://behance.com/"><i class="fab fa-behance"></i></a>
                                        <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-card_content">
                                <h3 class="team-card_title"><a href="team-details.html">Amelia Harper</a></h3>
                                <span class="team-card_desig">Artis Of Sculptor</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team-card wow custom-anim-top" data-wow-duration="1.5s" data-wow-delay="0.1s">
                            <div class="team-card_img">
                                <img src="~/img/team/team-1-2.png" alt="Team Image">
                                <div class="team-social">
                                    <div class="social-btn">
                                        <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                        <a href="https://behance.com/"><i class="fab fa-behance"></i></a>
                                        <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-card_content">
                                <h3 class="team-card_title"><a href="team-details.html">James Anderson</a></h3>
                                <span class="team-card_desig">Artis Of Sculptor</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team-card wow custom-anim-top" data-wow-duration="1.5s" data-wow-delay="0.1s">
                            <div class="team-card_img">
                                <img src="~/img/team/team-1-3.png" alt="Team Image">
                                <div class="team-social">
                                    <div class="social-btn">
                                        <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                        <a href="https://behance.com/"><i class="fab fa-behance"></i></a>
                                        <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-card_content">
                                <h3 class="team-card_title"><a href="team-details.html">Alezx Hawe</a></h3>
                                <span class="team-card_desig">Artis Of Sculptor</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--==============================
        Video Area 1
        ==============================-->
        <div class="video-area-1 overflow-hidden text-center bg-attachment" data-bg-src="~/img/bg/video-1-bg.png" data-overlay="black" data-opacity="3">
            <div class="container">
                <div class="video-wrap1">
                    <a href="https://www.youtube.com/watch?v=PwYewBMlkJw" class="play-btn popup-video">
                        <img src="~/img/icon/play-btn.svg" alt="img">
                    </a>
                </div>
            </div>
        </div>

        <!--==============================
            Footer Area
        ==============================-->
        @Html.Partial("Footer");


    </div>
</div>

<!--********************************
        Code End  Here
******************************** -->
<!-- Scroll To Top -->
<div class="scroll-top">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
    </svg>
</div>